-# Subscription underscore template
:plain
  <script id='tmpl-subscription' type='text/template'>
    <td>
      <%= feed.title %>
    </td>
    <td>
      <%= feed.unread_count %>
    </td>
    <td>
      <%= formatDate(new Date(feed.last_update)) %>
    </td>
    <td>
      <%= formatDate(new Date(feed.last_sync)) %>
    </td>
    <td class="text-error">
      <% if(feed.sync_error) { %>
        <%= feed.sync_error %>
      <% } %>
    </td>
    <% if(feed.pshb != 'unavailable') { %>
      <% if(feed.pshb == 'inactive') { %>
        <td class="active">
          <i class="fa fa-square-o togglePSHBAction"></i>
          #{t.subscription.pshb.inactive}
        </td>
      <% } else { %>
        <% if(feed.pshb == 'active') { %>
          <td class="<%= pshb_expired?'danger':'success' %>">
            <i class="fa fa-check-square-o togglePSHBAction"></i>
            #{t.subscription.pshb.active}
          </td>
        <% } else { %>
          <td class="warning">
            <i class="fa fa-check-square-o togglePSHBAction"></i>
            #{t.subscription.pshb.requested}
          </td>
        <% } %>
      <% } %>
    <% } else { %>
      <td></td>
    <% } %>
    <td class="no-padding">
      <div class="btn-group">
        <a class="btn btn-default btn-xs syncFeedAction" title="#{t.buttons.sync}"><i class="fa fa-refresh"></i></a>
        <a class="btn btn-default btn-xs editFeedAction" title="#{t.buttons.edit}"><i class="fa fa-edit"></i></a>
        <a class="btn btn-default btn-xs deleteFeedAction" title="#{t.buttons.delete}"><i class="fa fa-trash-o"></i></a>
      </div>
    </td>
  </script>
