!!! 5
%head
  %title CapoRSS - #{t.admin.title}
  %link(rel="stylesheet" media="screen" href="css/bootstrap.min.css")
  %link(rel="stylesheet" media="screen" href="css/bootstrap-responsive.min.css")
  %link(rel="stylesheet" media="screen" href="css/font-awesome.min.css")
  %meta(content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" name="viewport")
  %script(src="js/jquery-1.9.1.min.js")
  %script(src="js/bootstrap.min.js")
:css
  table form {
    margin: 0;
  }
  table .input-append,
  table input {
    margin-bottom: 0 !important;
  }
%body
  .container
    .row
      .span8.offset2.well
        %a(class="btn" href="/" title="#{t.buttons.return_to_feedlist}")
          %i.icon.icon-arrow-left
        %a(class="btn" href="/logout" title="#{t.buttons.logout}")
          %i.icon.icon-signout
        %h2
          =t.admin.title
        -if flash[:error]
          .alert.alert-error
            %b Error
            %br
            = flash[:error]
        -if flash[:success]
          .alert.alert-success
            = flash[:success]
        %table.table.table-bordered
          %thead
            %tr
              %th= t.admin.user.username
              %th= t.admin.user.password
              %th= t.admin.user.roles
              %th= t.admin.user.action
          %tbody
            - User.all.each do |user|
              %tr
                %td
                  %input(type="hidden" class="id" value="#{user.id}")
                  %form(action="/user/#{user.id}" method="post")
                    .input-append
                      %input(class="input-small" type="text" name="username" value="#{user.username}")
                      %button(type="submit" class="btn" title="#{t.admin.user.edit}")
                        %i.icon.icon-pencil
                %td
                  %form(action="/user/#{user.id}" method="post")
                    .input-append
                      %input(class="input-small" type="password" name="password" placeholder="********")
                      %button(type="submit" class="btn" title="#{t.admin.user.edit}")
                        %i.icon.icon-pencil
                %td
                  %ul
                    - user.roles.each do |role|
                      %li&= role
                %td
                  -unless user.roles.include?(:admin) or user.roles.include?(:sync)
                    %button(class="btn" onclick="deleteUser(this);" title="#{t.admin.user.delete}")
                      %i.icon.icon-trash
            %form(action="/user" method="post")
              %tr
                %td
                  %input(type="text" name="username" placeholder="#{t.admin.user.username}")
                %td
                  %input(type="password" name="password" placeholder="#{t.admin.user.password}")
                %td
                %td
                  %button(type="submit" class="btn" title="#{t.admin.user.add}")
                    %i.icon.icon-plus

  :javascript
    function deleteUser(elem) {
      var id = $(elem).closest('tr').find('.id').val();

      if(confirm("#{t.admin.user.confirm_delete}")) {
        $.ajax({
          url: '/user/' + id,
          method: 'DELETE',
          success: function() {
            $(elem).closest('tr').remove();
          }
        });
      }
    }

