.side-bar
  .navbar
    .navbar-inner
      %button(class="btn mobile-item-button visible-phone invisible" id="mobileBackButton" title="#{t.buttons.back}")
        %i(class="icon-arrow-left")
      .btn-group
        %button(class="btn btn-inverse hidden-tiny-phone")
          %i(id="spinner" class="icon-spinner icon-large invisible")
        %button(class="btn" id="syncButton" title="#{t.buttons.sync}")
          %i.icon.icon-refresh
        %button(class="btn hidden-phone" id="toggleReadVisibilityButton" title="#{t.buttons.toggle_read}")
          %i.icon.icon-eye-open
        %button(class="btn" href="#subscriptionModal" role="button" data-toggle="modal" title="#{t.buttons.subscribe}")
          %i.icon.icon-plus
        %button(class="btn hidden-tiny-phone" href="#settingsModal" role="button" data-toggle="modal" title="#{t.buttons.settings}")
          %i.icon.icon-cog
        %a(class="btn" href="/logout" title="#{t.buttons.logout}")
          %i.icon.icon-signout
      .btn-group
        %button(class="btn mobile-item-button visible-phone invisible" id="mobilePrevItem" title="#{t.buttons.next}")
          %i.icon.icon-circle-arrow-up
        %button(class="btn mobile-item-button visible-phone invisible" id="mobileNextItem" title="#{t.buttons.previous}")
          %i.icon.icon-circle-arrow-down
  .dragbar.hidden-phone
  .feed-list
    %ul(id="feed-list" class="nav nav-list")
.content
  #item-list.hidden-phone(tabindex="100")

-# Modal dialogs

=partial 'partials/settings'
=partial 'partials/subscribe'
=partial 'partials/edit_feed'
=partial 'partials/edit_folder'
=partial 'partials/opml_upload'

-# Underscore templates

=partial 'underscore/folder.tpl'
=partial 'underscore/feed.tpl'
=partial 'underscore/item.tpl'
=partial 'underscore/special_folder.tpl'

-# Javascript settings and translations

:javascript
  var SETTINGS = {
    refresh_timeout: #{@user.refresh_timeout},
    sync_timeout: #{@user.sync_timeout},
    items_per_page: #{@user.items_per_page},
    show_read: true
  };

  var LANG = {
    confirm_delete_feed: "#{t.js.confirm_delete_feed}",
    confirm_delete_folder: "#{t.js.confirm_delete_folder}",
    show_more_items: "#{t.js.show_more_items}",
    all_items_folder: "#{t.js.all_items_folder}"
  };
