.side-bar
  .navbar.navbar-default
    #mainmenu.navbar-form
  .dragbar.hidden-xs
  .feed-list
    %ul(id="feed-list" class="list-unstyled")
.content
  .navbar.navbar-inverse.hidden-xs
    #filters.navbar-form
  #item-list.hidden-xs(tabindex="100")
#modal

-# Modal dialogs

=partial 'partials/settings'
=partial 'partials/opml_upload'
=partial 'partials/favorites_upload'

-# Underscore templates

=partial 'underscore/mainmenu.tpl'
=partial 'underscore/special_folder.tpl'
=partial 'underscore/subscribe.tpl'
=partial 'underscore/folder/folder.tpl'
=partial 'underscore/folder/folder_edit.tpl'
=partial 'underscore/feed/feed.tpl'
=partial 'underscore/feed/feed_edit.tpl'
=partial 'underscore/feed/subscription_list.tpl'
=partial 'underscore/feed/subscription.tpl'
=partial 'underscore/item/item.tpl'
=partial 'underscore/item/itemlist.tpl'
=partial 'underscore/filters.tpl'

-# Javascript settings, translations and flash messages

:javascript
  var SETTINGS = {
    refresh_timeout: #{@user.refresh_timeout},
    sync_timeout: #{@user.sync_timeout},
    items_per_page: #{@user.items_per_page},
    sse_refresh: #{@user.sse_refresh},
    desktop_notifications: #{@user.desktop_notifications},
    show_read: true,
    search_filters: false
  };

  var LANG = {
    confirm_delete_feed: "#{t.js.confirm_delete_feed}",
    confirm_delete_folder: "#{t.js.confirm_delete_folder}",
    confirm_delete_favorite: "#{t.js.confirm_delete_favorite}",
    confirm_read_folder: "#{t.js.confirm_read_folder}",
    confirm_unread_folder: "#{t.js.confirm_unread_folder}",
    confirm_cleanup: "#{t.js.confirm_cleanup}",
    all_items_folder: "#{t.js.all_items_folder}",
    favorites: "#{t.js.favorites}",
    success: "#{t.js.alert.success}",
    error: "#{t.js.alert.error}",
    new_items: "#{t.js.alert.new_items}"
  };

  var FLASH = {
    success: "#{flash[:success]}",
    error: "#{flash[:error]}"
  };
