.side-bar
  .navbar.navbar-default
    #mainmenu.navbar-form
  .dragbar.hidden-xs
  .feed-list
    %ul(id="feed-list" class="list-unstyled")
.content
  #item-list.hidden-xs(tabindex="100")
#modal

-# Modal dialogs

=partial 'partials/settings'
=partial 'partials/subscribe'
=partial 'partials/edit_feed'
=partial 'partials/opml_upload'
=partial 'partials/search'

-# Underscore templates

=partial 'underscore/mainmenu.tpl'
=partial 'underscore/special_folder.tpl'
=partial 'underscore/folder/folder.tpl'
=partial 'underscore/folder/folder_edit.tpl'
=partial 'underscore/feed/feed.tpl'
=partial 'underscore/feed/subscription_list.tpl'
=partial 'underscore/feed/subscription.tpl'
=partial 'underscore/item/item.tpl'
=partial 'underscore/item/itemlist.tpl'

-# Javascript settings, translations and flash messages

:javascript
  var SETTINGS = {
    refresh_timeout: #{@user.refresh_timeout},
    sync_timeout: #{@user.sync_timeout},
    items_per_page: #{@user.items_per_page},
    sse_refresh: #{@user.sse_refresh},
    show_read: true
  };

  var LANG = {
    confirm_delete_feed: "#{t.js.confirm_delete_feed}",
    confirm_delete_folder: "#{t.js.confirm_delete_folder}",
    confirm_read_folder: "#{t.js.confirm_read_folder}",
    confirm_unread_folder: "#{t.js.confirm_unread_folder}",
    confirm_cleanup: "#{t.js.confirm_cleanup}",
    all_items_folder: "#{t.js.all_items_folder}"
  };

  var FLASH = {
    success: "#{flash[:success]}",
    error: "#{flash[:error]}"
  };
