.side-bar
  .navbar
    #mainmenu.navbar-inner
  .dragbar.hidden-phone
  .feed-list
    %ul(id="feed-list" class="nav nav-list")
.content
  #item-list.hidden-phone(tabindex="100")

-# Modal dialogs

=partial 'partials/settings'
=partial 'partials/subscribe'
=partial 'partials/edit_feed'
=partial 'partials/edit_folder'
=partial 'partials/opml_upload'
=partial 'partials/search'

-# Underscore templates

=partial 'underscore/mainmenu.tpl'
=partial 'underscore/folder.tpl'
=partial 'underscore/feed.tpl'
=partial 'underscore/item.tpl'
=partial 'underscore/itemlist.tpl'
=partial 'underscore/special_folder.tpl'

-# Javascript settings, translations and flash messages

:javascript
  var SETTINGS = {
    refresh_timeout: #{@user.refresh_timeout},
    sync_timeout: #{@user.sync_timeout},
    items_per_page: #{@user.items_per_page},
    show_read: true
  };

  var LANG = {
    confirm_delete_feed: "#{t.js.confirm_delete_feed}",
    confirm_delete_folder: "#{t.js.confirm_delete_folder}",
    all_items_folder: "#{t.js.all_items_folder}"
  };

  var FLASH = {
    success: "#{flash[:success]}",
    error: "#{flash[:error]}"
  };
