-# Feed underscore template
:plain
  <script id='tmpl-feed' type='text/template'>
    <div class="feedTitle<% if(feed.active){ %> active<% } %>">
      <i class="menu-toggle icon icon-caret-down"></i>
      <% if(feed.favicon) { %>
        <img class="feed-icon" src="data:image/x-icon;base64,<%= feed.favicon %>" />
      <% } else { %>
        <i class="feed-icon icon icon-rss"></i>
      <% } %>
      <% if(feed.unread_count > 0) { %>
        <b><%= feed.title %></b>
        <span class="badge badge-info"><%= feed.unread_count %></span>
      <% }else{ %>
        <%= feed.title %>
      <% } %>
    </div>
    <div class="btn-group feedMenu hide">
      <a class="btn markFeedReadAction" title="#{t.buttons.mark_all_read}"><i class="icon-eye-open"></i></a>
      <a class="btn markFeedUnreadAction" title="#{t.buttons.mark_all_unread}"><i class="icon-eye-close"></i></a>
      <a class="btn syncFeedAction" title="#{t.buttons.sync}"><i class="icon-refresh"></i></a>
      <a class="btn editFeedAction" title="#{t.buttons.edit}"><i class="icon-edit"></i></a>
      <a class="btn deleteFeedAction" title="#{t.buttons.delete}"><i class="icon-trash"></i></a>
    </div>
  </script>
