-# Filters underscore template
:plain
  <script id='tmpl-filters' type='text/template'>
    <form id="searchForm" method="get" action="#" class="form-inline">
      <div class="form-group">
        <input class="form-control input-sm" class="form-control" type="text" id="searchQuery" placeholder="#{t.search.title}" autocomplete="off" />
      </div>
      <div class="form-group">
        <label for="sortType">#{t.search.sort_by}</label>
        <select class="form-control input-sm" id="sortType">
          <option value="dateAsc">#{t.search.sort.date.asc}</option>
          <option value="dateDesc" selected="selected">#{t.search.sort.date.desc}</option>
          <option value="titleAsc">#{t.search.sort.title.asc}</option>
          <option value="titleDesc">#{t.search.sort.title.desc}</option>
        </select>
      </div>
      <div class="checkbox">
        <label for="searchInTitle">
          <input type="checkbox" id="searchInTitle" checked="checked" />
          #{t.search.in_title}
        </label>
      </div>
    </form>
  </script>
