-# Folder underscore template
:plain
  <script id='tmpl-folder' type='text/template'>
    <div class="folder-title<% if(folder.active){ %> active <% } %>">
      <i class="folder-toggle icon <% if(folder.open){ %>icon-collapse<% }else{ %>icon-expand<% } %>"></i>
      <i class="folder-icon icon <% if(folder.open){ %>icon-folder-open<% }else{ %>icon-folder-close<% } %>"></i>
      <% if(folder.unread_count > 0) { %>
        <b><%= folder.title %></b>
        <span class="badge badge-info"><%= folder.unread_count %></span>
      <% }else{ %>
        <%= folder.title %>
      <% } %>
    </div>
    <div class="btn-group folderMenu hide">
      <a class="btn markFolderReadAction" title="#{t.buttons.mark_all_read}"><i class="icon icon-eye-open"></i></a>
      <a class="btn markFolderUnreadAction" title="#{t.buttons.mark_all_unread}"><i class="icon icon-eye-close"></i></a>
      <a class="btn syncFolderAction" title="#{t.buttons.sync}"><i class="icon icon-refresh"></i></a>
      <a class="btn editFolderAction" title="#{t.buttons.edit}"><i class="icon icon-edit"></i></a>
      <a class="btn deleteFolderAction" title="#{t.buttons.delete}"><i class="icon icon-trash"></i></a>
    </div>
    <ul class="unstyled"></ul>
  </script>
