-# Main menu underscore template
:plain
  <script id='tmpl-mainmenu' type='text/template'>
    <div class="btn-group">
      <button class="btn btn-primary hidden-tiny-phone">
        <i id="spinner" class="fa fa-spinner invisible"></i>
      </button>
      <button class="btn btn-default" id="syncButton" title="#{t.buttons.sync}">
        <i class="fa fa-refresh"></i>
      </button>
      <button class="btn btn-default hidden-tiny-phone" id="toggleReadVisibility" title="#{t.buttons.toggle_read}">
        <i class="fa fa-eye"></i>
      </button>
      <button class="btn btn-default hidden-xs" id="toggleSearchFilters" title="#{t.buttons.toggle_search_filters}">
        <i class="fa fa-search"></i>
      </button>
      <button class="btn btn-default" id="subscriptionModalButton" title="#{t.buttons.subscribe}">
        <i class="fa fa-plus"></i>
      </button>
      <button class="btn btn-default hidden-xs" id="settingsModalButton" title="#{t.buttons.settings}">
        <i class="fa fa-cog"></i>
      </button>
      <a class="btn btn-default" href="/logout" title="#{t.buttons.logout}">
        <i class="fa fa-sign-out"></i>
      </a>
    </div>
    <div class="btn-group mobile-item-buttons">
      <button class="btn btn-default mobile-item-button visible-xs invisible" id="mobilePrevItem" title="#{t.buttons.next}">
        <i class="fa fa-arrow-circle-o-up"></i>
      </button>
      <button class="btn btn-default mobile-item-button visible-xs invisible" id="mobileNextItem" title="#{t.buttons.previous}">
        <i class="fa fa-arrow-circle-o-down"></i>
      </button>
    </div>
  </script>
